
/*--- FOOTER MOBILE 320 ---*/
.container__footer {
    background-image: linear-gradient(to top, rgb(55, 51, 59), rgb(86, 80, 92), rgb(101, 93, 109), rgb(159, 147, 170));
    border-top: solid 5px var(--boton-color);
  }
  
  .footer__container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
  }
  
  .footer__title {
    font-family: var(--ff-releway);
    font-size: 50px;
    color: var(--text-light-color);
    font-weight: bold;
    letter-spacing: 8px;
    padding-top: 20px;
    text-align: center;
  }
  
  .footer__logo {
    width: 180px;
    padding-bottom: 5px;
  }
  
  .footer__icons {
    width: 55%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
  }
  
  .icon-redes {
    padding: 3px 8px 3px 8px;
    color: var(--text-light-color);
    border: solid 0.1px rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: 0.6s;
    font-size: 35px;
  }
  
  .icon-redes:hover {
    background-color: var(--color-fonts);
    color: var(--text-light-color) !important;
    box-shadow: 1px 0px 17px 3px rgba(218, 233, 252, 0.77);
    -webkit-box-shadow: 1px 0px 17px 3px rgba(234, 237, 240, 0.815);
    -moz-box-shadow: 1px 0px 17px 3px rgba(168, 203, 246, 0.77);
  }
  
  .footer__contact {
    color: var(--text-light-color);
    font-size: 1rem;
    padding: 10px;
  }

  .footer__contact p {
    margin-bottom: 10px;
  }
  
  .footer__reserved {
    color: var(--text-light-color);
    font-size: 0.8rem;
    text-align: center;
    padding: 15px 0;
    margin: 0;
  }

/*--- FOOTER 768 ---*/
@media (min-width: 768px) {
  .footer__container-contact {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .footer__title {
    letter-spacing: 12px;
    font-size: 2.3rem;
  }

  .footer__container-logo {
    width: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer__logo {
    width: 190px;
    margin-left: 15px;
  }

  .footer__icons {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .icon-redes {
    margin: 15px;
  }

  .footer__contact {
    width: 30%;
    color: white;
    font-size: 0.9rem;
    padding: 20px;
    text-align: right;
  }

  .footer__reserved {
    font-size: 0.7rem;
  }
}

/*--- FOOTER DESCKTOP 1024 ---*/
@media (min-width: 1024px) {
.footer__container-contact {
    flex-direction: row;
  }
  
    .footer__title {
      letter-spacing: 14px;
      font-size: 5rem;
    }

    .footer__logo {
        width: 220px;
        margin-left: 15px;
      }
  
    .icon-redes {
      margin: 40px;
    }
  
    .footer__contact {
      font-size: 1.1rem;
      padding: 20px;
      margin-right: 10px;
    }

    .footer__contact p {
      margin-bottom: 20px;
    }


  
    .footer__reserved {
      font-size: 0.9rem;
    }
}